.section {
  padding: 1rem;
}

.section > h1 {
  margin-bottom: 3rem;
}

.titleAndLogo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto;
  align-items: center;
}

.photoAndInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
  gap: 10px;
}

.photo {
  width: 30%;
  height: 40%;
  max-width: 350px;
  max-height: 350px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
}

.info {
  width: max(50%, 250px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.info > p {
  text-align: center;
}

.reverse {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
  gap: 10px;
}