.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.photoAndInfo {
  width: 100%;
  height: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 60px;
  gap: 10px;
}

.photo {
  width: 80%;
  height: 80%;
  max-width: 650px;
  max-height: 650px;
  min-width: 300px;
  min-height: 300px;
  animation: fadeInFromLeft 3s ease-in 1;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.info > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info > ul > li:nth-child(1) {
  animation: fadeInFromRight 2s ease-in 1;
}
.info > ul > li:nth-child(2) {
  animation: fadeInFromRight 2.5s ease-in 1;
}
.info > ul > li:nth-child(3) {
  animation: fadeInFromRight 3s ease-in 1;
}
.info > ul > li:nth-child(4) {
  animation: fadeInFromRight 3.5s ease-in 1;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
